@import "/styles/variables";
@import "/styles/mixins";

.wrapper {
  padding: 20px 50px 50px;
  width: 650px;
  position: relative;
}
.wrapper h2 {
  font-size: 26px !important;
  text-align: center;
}
.flexWrapper {
  display: flex;
  margin: -10px;
  margin-top: 30px;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.flexWrapper > * {
  margin: 10px;
}
.imagePreview {
  height: 200px;
  width: 200px;
  /* background: rgb(199, 199, 199); */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  object-fit: cover;
}
.formControl {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.formControl label {
  margin-right: 10px;
  display: inline-block;
  width: 70px;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
}
.formControl input,
.formControl textarea {
  border: 1px solid rgba(57, 57, 57, 0.3);
  border-radius: 5px;
  padding: 10px 15px;
  flex: 1;
  color: $text-light-grey;
  font-size: $text-regular;
}
.formControl input:focus,
.formControl textarea:focus {
  outline-color: $text-color;
}
.formControl input::placeholder,
.formControl textarea::placeholder {
  color: rgb(165, 165, 165);
  font-size: $text-small;
  font-family: montserrat-regular;
}
.formControl input {
  font-size: $text-small;
}
.formControl textarea {
  resize: none;
}
.error {
  color: red;
  font-size: 11px;
  margin-top: 2px;
  margin-left: 80px;
}
.selectContainer {
  flex: 1;
  font-size: $text-small;
}
@media (max-width: 750px) {
  .wrapper {
    width: 100%;
  }
}
@include small-devices {
  .wrapper {
    padding: 10px;
    width: 100%;
  }
  .formControl {
    display: block !important;
  }
  .formControl input,
  .formControl textarea {
    width: 100%;
    margin-top: 5px;
  }
  .formControl label {
    margin-right: 0;
    display: block;
    width: auto;
    text-align: left;
  }
  .selectContainer {
    margin-top: 5px;
  }
  .error {
    margin-left: 0;
  }
}
