.Navigation {
    margin: -10px;
    display: flex;
}
.Navigation > a {
    font-family: montserrat-regular !important;
    text-decoration: none;
    font-size: 13px;
    color: white;
    margin: 10px;
}
.Navigation  a.active {
    color: var(--green);
    font-family: montserrat-medium !important;
}
.register {
    display: flex;
    align-items: center;
    border: 1px solid white;
    padding: 0 10px;
}
.register a {
    font-family: montserrat-regular;
    text-decoration: none;
    color: white;
    font-size: 13px;
}