.buttonWrapper {
    display: block ;
    width: fit-content;
    border: 1px solid white;
    border-radius: 25px;
    background: var(--green);
    color: white;
    font-family: montserrat-regular;
    font-size: 12px;
    padding: 8px 20px;
    align-items: center;
    cursor: pointer;
    transition: opacity .3s;
}
.buttonWrapper:hover {
    opacity: .8;
}