.wrapper {
    width: fit-content;
    max-width: 920px;
    margin: 0 auto;
    box-shadow: 3px 3px 12px rgba(0,0,0, .5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 999;
    background: white;
}
@media(max-width:750px) {
    .wrapper {
        width: 90%;
    }
}