.Container {
    position: relative;
    display: flex;
    justify-content: center;
   
   
}
.absoluteContainer{
    position: absolute;
    width: 100%;
    top: -60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -10px;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    grid-template-rows: auto;
    place-items: center;
    gap: 20px; */

    padding: 0 20px;
    
}

