.Container {
    position: relative;
    display: flex;
    justify-content: center;
  
}
.absoluteContainer{
    position: absolute;
    width: 100%;
    max-width: 920px;
    top: -60px;
    margin: -10px;
    padding: 0 20px;
}

.pContainer {
    position: absolute;
    width: 100%;
    top: -50px;
    left: 50%;
    transform: translate(-50%, -100px);
    
    text-align: center;
}
.pContainer p {
    margin-bottom: 0 !important;
    font-family: quicksand;
    font-size: 12px;
    
}
@media(max-width:750px) {
    .Container {
        width: 100%;
    }
}