
.overlay {
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,.8);
    z-index: 0;
}
.heroContent {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center; 
}
.heroContent > h2 {
    color: white;
    letter-spacing: 2px;
}
.searchWrapper {
   text-align: initial;
    border-radius: 5px;
    background: white;
    position: relative;
    height: 45px;
    padding: 0 10px;
}
.searchWrapper > form > .formBox {
    padding: 0 10px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 0 !important;
}
 .dividerVertical{
     height: 100%;
     display: inline-block;
     width: 1px;
    height: 100%;
    background: rgba(0,0,0,.1);
}
.searchWrapper span{
    font-family: montserrat-regular;
   
    color: var(--text-light-grey);
    font-size: 12px;
 }

 @media(max-width:800px) {
     .heroContent {
         width: 90%;
     }
     .searchWrapper {
         height: auto;
         padding: 10px 0;
         text-align: center;
     }
     .dividerVertical {
         display: none;
     }
    .searchWrapper > form {
        display: grid !important;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: 1fr 1fr !important;
        row-gap: 10px;
    }
    /* .formBox {
        flex-wrap: wrap !important;
    }
    .formBox label {
        padding: 0 !important;
    } */
    .formBox > * {
        flex: 1  120px!important;
        justify-content: flex-start !important;
    }
    
 }
 @media(max-width:450px) {
    .formBox {
        flex-wrap: wrap !important;
    }
    .formBox > * {
        flex: 1 140px !important;
        /* min-width: 140px !important; */
        justify-content: flex-start !important;
        text-align: left !important;
    }
 }