//COLORS
$text-color: #111111;
$text-light-color: #393939;
$text-light-grey: #7c7c7c;
$light-grey: #ececec;
$green: #5a7d00;
$light-green: #eeeeee;
$yellow: #f6c000;

//padding sizes for containers
$tiny-padding: 20px;
$small-padding: 30px;
$medium-padding: 50px;
$large-padding: 80px;
$extra-large-padding: 120px;

//gutter sizes for containers
$tiny-gutter: 5px;
$small-gutter: 10px;
$medium-gutter: 20px;
$large-gutter: 50px;

//font sizes
$text-tiny: 9px;
$text-small: 11px;
$text-regular: 13px;
$text-large: 16px;

//breakpoints
$small-devices: 600px;
$medium-devices: 960px;
$large-devices: 1280px;
$extra-large-devices: 1920px;

//line height
$regular-text-line-height: 1.2rem;
