@font-face {
  font-family: montserrat-light;
  src: url("/assets/fonts/Montserrat-Light.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: montserrat-regular;
  src: url("/assets/fonts/Montserrat-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: montserrat-medium;
  src: url("/assets/fonts/Montserrat-Medium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: montserrat-semi-bold;
  src: url("/assets/fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: montserrat-bold;
  src: url("/assets/fonts/Montserrat-Bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: montserrat-black;
  src: url("/assets/fonts/Montserrat-Black.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: quicksand;
  src: url("/assets/fonts/quicksand.woff2") format("woff2");
  font-display: swap;
}

:root {
  --text-color: #111111;
  --text-light-color: #393939;
  --text-light-grey: #7c7c7c;
  --green: #5A7D00;
  --yellow: #F6C000;
  --global-padding: 50px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: montserrat-regular;
  font-size: 13px;
  color: var(--text-light-color);
}

h1,h2,h3,h4 {
  line-height: 1.5em;
  margin-bottom: 0 !important;
}
h1 {
  font-family: montserrat-bold !important;
  font-size: calc(36px + (42 - 36) * (100vw - 450px) / (1600 - 450)) !important;
}
h2 {
  font-family: quicksand ;
  font-weight: 700 !important;
  font-size: calc(32px + (40 - 32) * (100vw - 450px) / (1600 - 450)) !important;
}
a {
  font-family: montserrat-regular !important;
}
a:hover {
  color: var(--green) !important;
}
label {
  font-family: montserrat-regular;
  font-size: 12px !important;
  color: var(--text-light-color);
}
input {
  font-family: montserrat-regular !important;
  font-size: 12px !important;
}
.container-fluid {
  width: 100%;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
}
.row {
  display: flex;
  align-items: center;
  margin: -20px;
}
.row > * {
  margin: 20px;
}
.padding50 {
  padding: 50px 0;
}
.padding100 {
  padding: 100px 0;
}
.wrapper {
  position: relative;
  height: auto;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
}
.ant-btn-primary {
  background: var(--green) !important;
  border-color: var(--green) !important;
  font-family: montserrat-regular !important;
  transition: opacity .4s;
}
.ant-btn-primary:hover {
  opacity: .7;
}
.ant-btn-primary span{
  color: white !important;
}

.ant-btn:hover, .ant-btn:focus {
  color: var(--green) !important;
  border: 1px solid var(--green) !important;
}
.ant-steps-item-active .ant-steps-item-icon {
  background: var(--green) !important;
  border-color:  var(--green) !important;
}
.ant-steps-item-finish .ant-steps-item-icon {
 /*  background: var(--green) !important; */
  border-color:  var(--green) !important;
}
.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: var(--green) !important;
}
.ant-steps-item-title::after {
  background-color: var(--text-light-grey) !important;
}
.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
  background-color: var(--green) !important;
}
.ant-steps-item-title {
  font-family: montserrat-regular !important;
  font-size: 12px !important;
}
.ant-picker {
  border-color: var(--green) !important;
}
.ant-picker-focused {
  border-color: var(--green) !important;
}
.ant-picker-focused > input {
  border-color: var(--green) !important;
}
.ant-picker-input-active {
  border-color: var(--green) !important;
}
.ant-picker-input-active > input {
  border-color: var(--green) !important;
}
.ant-picker-input:hover > input {
  border-color: var(--green) !important;
}
.ant-picker-range .ant-picker-active-bar {
  background: #454839 !important;
}
.ant-select {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
.ant-select-selector:hover {
  border-color: var(--green) !important;
}
.ant-select-selector:focus {
  border-color: var(--green) !important;
  box-shadow: none !important;
  outline: none !important;
}
.ant-select-focused, .ant-select-opened {
  border-color: var(--green) !important;
  box-shadow: none !important;
  outline: none !important;
}
.ant-select-item-option-content {
  font-size: 12px !important;
}
.ant-select-item-option-selected {
  background: rgb(212, 226, 209) !important;
}
.anticon-check svg {
  fill: var(--green) !important;
}
.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
  border-color: #d9d9d9 !important;
  box-shadow: none !important;
}