@import "/styles/variables";

.subMenuItemsWrapper {
  position: absolute;
  top: 25px;
  width: max-content;
  display: none;
  background: rgba(14, 14, 14, 0.96);
  padding: 20px 10px;
  border-radius: 10px;
  & a {
    font-size: $text-small !important;
    margin-top: 15px;
    display: block;
    color: white;
  }
}
.isMobile {
  position: relative;
  background: none;
  top: 0;
  padding: 0;
  border-radius: 0;
  margin-left: 10px;
}
.subMenuOpen {
  display: block;
}
.FlexContainer {
  margin-top: 10px;
}
